@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/PretendardVariable.ttf') format('truetype');
}
body {
    background-color: #fdfdfd;
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 400;
    margin : 0;
}

/* header */

.header_layout{
    /*background-color: gray;*/
    padding: 1.5% 3%;
    width: 100%;
    height: auto;
    color: white;
    position: fixed;
    top: 0;
    z-index : 100;
    box-sizing:border-box;
}

.header_container {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

.ci_container {
    display:flex;
    flex-direction:row;
    align-items:center;
}

#ci{
    float:left;
    width:2.8vw;
}

#ci_text{
    float:left;
    width:8.7vw;
    margin-left:1vw;
}

.menu_container {
    right: 0;
    width:37%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    font-size:0.9vw;
    font-weight: 300;
}

.menu_item{
    color: #575757;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.menu_item.open:nth-child(1) {
    transform: translateX(0); /* 펼쳐질 때 위치 */
    opacity: 1; /* 투명도 */
}
.menu_item.close:nth-child(1)  {
    transform: translateX(300%); /* 접힐 때 오른쪽으로 이동 */
    opacity: 0; /* 사라지는 효과 */
}
.menu_item.open:nth-child(2) {
    transform: translateX(0); /* 펼쳐질 때 위치 */
    opacity: 1; /* 투명도 */
}
.menu_item.close:nth-child(2)  {
    transform: translateX(200%); /* 접힐 때 오른쪽으로 이동 */
    opacity: 0; /* 사라지는 효과 */
}
.menu_item.open:nth-child(3) {
    transform: translateX(0); /* 펼쳐질 때 위치 */
    opacity: 1; /* 투명도 */
}
.menu_item.close:nth-child(3)  {
    transform: translateX(100%); /* 접힐 때 오른쪽으로 이동 */
    opacity: 0; /* 사라지는 효과 */
}

.menu_container > :last-child {
    color: #FFFFFF;
    background-color: #C17F02;
    padding: 2.5% 5%;
    transition: transform 0.5s ease;
}
.menu_minimalized {
    width: 2%;
    aspect-ratio: 1 /1;
    display: flex;
    flex-direction: column;
    gap: 30%;
    cursor: pointer;
    margin-top: 1%;
    right:16%;
    position: absolute;
    z-index: 20;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.menu_minimalized.open {
    transform: translateX(100%); /* 접힐 때 오른쪽으로 이동 */
    opacity: 1;
}

.menu_minimalized.close {
    transform: translateX(100%); /* 접힐 때 오른쪽으로 이동 */
    opacity: 0;
}

.menu_minimalized_icon {
    width: 100%;
    box-shadow: 0 0 0 0.3px rgba(0, 0, 0, 0.84);
}

.to_top_button {
    border-radius: 50%;
    width: 3.1%;
    aspect-ratio: 1 / 1;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.to_top_button.isTop {
    opacity: 1;
}
.to_top_button.isNotTop {
    opacity: 0;
}

.to_top_button > img {
    width: 40%;
    height: 40%;
}

/* footer */

.privacy_checkbox {
    width: 3.5%;
    border: 1px solid Darkgray;
    /*background-color: transparent;*/
}
.footer_input {
    border: 1px solid Darkgray;
    margin-top: 7%;
    height: 14%;
    justify-content: center;
}
.footer_input >input {
    background: none;
    border: none;
    width: 100%;
    color: white;
    font-size: 0.9vw;
    text-align: center;
    box-sizing: border-box;
    padding: 6.5% 0;
}

/* common */

.grid_page_layout {
    /*background-color: aquamarine;*/
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 100%;
    gap: 0;
    aspect-ratio: 16 / 9;
    padding: 8% 5%;
    box-sizing: border-box;
}
.subtitle_area {
    /*background-color: aquamarine;*/
    grid-column: 1 / span 7;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5% 0 0 10%;
}
#aboutus_text {
    margin-top: 145%;
}

/* home1 */

/*.page_layout {*/
/*    !*background-color: gray;*!*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-items: flex-start;*/
/*    width: 100%;*/
/*    aspect-ratio: 16/9;*/
/*}*/
.layout {
    /*background-color: gray;*/
    width: 100%;
    padding: 7% 0;
    box-sizing: border-box;
    aspect-ratio: 16/9;
}
.grid_container {
    /*background-color: aqua;*/
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    display: grid;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}

.center{
    align-items: center;
    justify-content: center;
}
.contents {
    /*position: relative;*/
    z-index: 4;
    color: #ffffff;
    position: absolute;
}
.background_image {
    /*background-color: coral;*/
    display: grid;
    overflow: hidden;
}
.home_background_image {
    grid-area: 1 / 1;
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    filter: brightness(0.5);
    /*opacity: 0.5;*/
}
.slogan {
    width: 70%;
    color: #FFFFFF;
    /*130*/
    font-size: 6.8vw;
    font-weight: 600;
    margin-top: 25%;
    margin-left: 9%;
    filter: brightness(1);
}
.subtitle {
    /*36*/
    font-size: 1.9vw;
    font-weight: 400;
}
.image_navi {
    width: 1%;
    background-color: #FFFFFF;
    height: 2px;
}
#home_title_container{
    color:#ffffff;
    z-index:4;
    grid-area: 1 / 1;
    width: 100%;
    aspect-ratio:auto;
    text-align:center;
    justify-content:center;
    padding-top:20%;
    opacity: 0;
}


@keyframes change {
    from {
        transform: translateY(100%);
        visibility: visible;
    }

    to {
        transform: translateY(0%);
    }
}
.slide_up {
    animation: change 1s ease forwards;
}
#page1,
#page2 {
    /*height: 100vw;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*color: white;*/
    /*width: 100%;*/
    /*flex-direction: column;*/
    /*position: absolute;*/
}

#home_subtitle {
    margin-left: 9%;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

.center_page_layout {
    /*background-color: beige;*/
    text-align: center;
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.title {
    /*background-color: gray;*/
    width: 100%;
    font-size: 3.1vw;
    font-weight: 600;
    text-align: center;
}

.bold {
    font-weight: 800;
}
.signature {
    color : #C17F02;
}
.signature_bg {
    background-color : #C17F02;
}

/*@keyframes flowContainer {*/
/*    0% {*/
/*        transform: translateX(-100%);*/
/*    }*/
/*    100% {*/
/*        transform: translateX(0);*/
/*    }*/
/*}*/
    /*animation: flowContainer 4s linear 1;*/

.photo_container_wrapper {
    width: 100%;
    overflow: hidden;
}
.photo_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.3%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10%;
    transform: translateX(-60%);
}
.photo_item {
    border-radius: 10px;
    overflow: hidden;
}
.photo_item:nth-child(1) {
    width: 10%;
    height: 200%;
    margin-top: 4%;
}
.photo_item:nth-child(2) {
    width: 24%;
    margin-top: 8%;
}
.photo_item:nth-child(3) {
    width: 33%;
}

.photo_item > img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 원본 비율을 유지하며 컨테이너에 맞춤 */
}

/* home2 */

.long_page_layout {
    /*background-color: beige;*/
    text-align: center;
    width: 100%;
    aspect-ratio: 16/18;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    box-sizing: border-box;
}

#home2_title1 {
    /*background-color: aquamarine;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
    margin-top: -30%;
}

#home2_title1 > span {
    margin-left: 1%;
    top:0;
}

#home2_title_photo {
    border-radius: 5%;
    width: 9%;
    z-index: 1;
    aspect-ratio: 16/9;
    margin: 0 1% 0 1%;
}

#home2_title2 {
    color: #FFFFFF;
    position: absolute;
    margin-top: 80%;
    z-index: 3;
}
.text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    white-space: pre-line;
    font-size: 1.2vw;
    line-height: 1.3;
}
.center{
    justify-content: center;
    align-items: center;
}

#home2_text{
    margin-top: 2%;
    justify-content: center;
}

#home2_photo_container > :nth-child(1) {
    width: 20%;
    float: left;
    margin-top: 4%;
    margin-left: 10.8%;
    border-radius: 5%;
}

#home2_photo_container > :nth-child(2) {
    width: 25%;
    float: right;
    margin-right: 12%;
    border-radius: 5%;
    margin-top: 8%;
}
.home3_title_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 8%;
    z-index: 1;
}
.home3_title {
    width: 26vw;
    aspect-ratio: 1/1;
    font-size: 3.1vw;
    font-weight: 600;
    white-space: nowrap;
    border: #000000 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plus {
    border: none;
    width: 23vw;
    aspect-ratio: 1/1;
    font-size: 8vw;
    font-weight: 90;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* home4 */

.home3_title2_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
    justify-content: flex-start;
    position: absolute;
    z-index: 2;
}

.home3_title2_image {
    width: 31%;
    margin-bottom: 0;
    opacity: 0;
}

.home3_subtitle {
    /*background-color: gray;*/
    width: 77%;
    font-size: 3vw;
    font-weight: 400;
    margin: 11% 0 11% 0;
    line-height: 160%;
    opacity: 0;
}

/* home5 */

.home5_page_layout {
    background-color: #EAEEF0;
    text-align: center;
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    gap: 7%;
}
.home5_title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    justify-content: flex-start;
    font-size: 3.1vw;
    line-height: 140%;
}
.home5_title {
    font-weight: 900;
}
.contact_us_button {
    width: 40%;
    color: #FFFFFF;
    background-color: #C17F02;
    padding: 2.2% 0;
    text-decoration: none;
    font-size: 1.25vw;
    margin-top: 1.8%;
    text-align: center;
    justify-content: center;
}
.contact_us_button {
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
.contact_us_button:before, .contact_us_button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    transform: translate(-105%, 0);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.25);
}

.contact_us_button:after {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.contact_us_button:hover:before, .contact_us_button:hover:after {
    opacity: 0;
    transform: translate(0, 0);
}



@keyframes flowContents {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
.partner_wrapper{
    overflow: hidden;
    display: grid;
    width: 100vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.partner_container {
    grid-area: 1/1;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.origin{
    animation: flowContents 7s linear infinite;
}
.clone{
    transform: translateX(-100%);
    animation: flowContents 7s linear infinite;
    animation-delay: 3.5s;
}

.partner {
    flex: 1;
    border: 1px solid lightgray;
    padding: 1%;
    display: flex;
    justify-content: center;
}
.partner>img {
    width: 40%;
    height: auto;
}

.text_flow_container {
    background-color: black;
    width: 98vw;
    height: 30%;
    white-space: nowrap;
    overflow: hidden;
    display: grid;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.text_flow {
    grid-area: 1 / 1;
    font-size: 10vw;
    margin: 0;
    color: #FFFFFF;
    opacity: 0.7;
}
#reverse {
    animation-direction: reverse;
}
.member_card_container {
    /*background-color: #575757;*/
    margin-top: 30%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    white-space: nowrap;
    font-size: 1.2vw;
}
.member_card {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    gap: 20%;
    width: 100%;
    cursor: pointer;
}
.member {
    display: flex;
    flex-direction: row;
}
.name {
    padding: 5% 0;
    width: 50%;
    font-weight: 800;
}
.position {
    width: 50%;
    padding: 5% 0;
    /*font-weight: 800;*/
}
.underline {
    width:100%;
    height: 1px;
    background-color: darkgray;
    transition: all 0.3s ease;
}
.member:hover +.underline,
.position:hover.underline {
    background-color: #C17F02;  /* 배경색 변경 */
    height: 2px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.member_photo{
    margin: 12% 0 0 3%;
    width: 23%;
    height: auto;
    aspect-ratio: 3 / 3.5;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 2s forwards;
}
.member_photo_container {
    position: relative; /* absolute 위치 지정의 기준을 위해 relative 설정 */
    width: 100%;
    height: 100%;
}
.stack_card_container {
    padding: 5% 5% 0 5%;
    box-sizing: border-box;
}
.stack_card {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 2%;
    aspect-ratio: 1/1;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 14%;
    text-align: center;
}
.lightgray {
    background-color: #EAEEF0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    width: 100%;
}
.stack_card_title {
    font-size: 2.1vw;
    font-weight: 700;
}
.stack_card_contents {
    padding-top: 25%;
    font-size: 0.93vw;
    white-space: pre-line;
}
.wrapper {
    width: 100vw;
    height: auto;
    overflow: hidden;
    /*background-color: darkblue;*/
    display: grid;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    white-space: nowrap;
}
.tech_image_container {
    margin-top: 5%;
}
.tech_image {
    grid-area: 1 / 1;
    width: 80%;
}
.subtitle_in_contents {
    margin-left: 7%;
}
.process_card {
    /*background-color: gray;*/
    width: 100%;
}
.process_card> img {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-top: 20%;
    /*filter: brightness(1.2) saturate(0.5) blur(2px);*/
}
.process_card_title_container {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    align-items: flex-end;
    opacity: 0;
}
.process_card_no {
    padding: 0 2%;
    text-align: right;
    width: 20%;
    background-color: rgba(193, 127, 2, 0.5);
    font-size: 1.04vw;
    margin-bottom: 1%;
}
.process_card_title {
    margin-left: 5%;
    font-size: 1.5vw;
    font-weight: 800;
}
.process_card_description {
    margin-top: 10%;
    width: 300%;
    font-size: 1.04vw;
    white-space: pre-line;
    opacity: 0;
}
.process_container>div {
    flex:1;
    width: 80%;
}
.process_container {
    display: flex;
    padding: 0 13%;
    margin-top: 20%;
    gap:5%;
    align-items: flex-end;
    bottom: 0;
}